aside{
    flex: 2;
    background-color: red;
}
main{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

h1{
    color: #9E3B3B;
    font-family: 'Kavivanar', cursive;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.9rem;
}

h2{
    color: #7C7C7C;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9rem;
}

p{
    color: #7C7C7C;
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 0.75rem;
}

button{
    color: #fff;
    background-color: #9E3B3B;
    border-radius: 12px;
}

a{
    color: #9E3B3B;
}

.input{
    color: #7C7C7C;
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;

    gap: 0px;
    border-radius: 8px;
    /* border: 1px, solid, red; */
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.pagered{
    color: #9E3B3B;

}

#asideimg{
    height: 100%;
    width: auto;
}